:root {
    --tw-text-opacity: 1;
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #37373f; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #002448; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
    --color-default: rgb(8 60 132 / var(--tw-text-opacity));
    --color-secondary: rgb(238 112 30 / var(--tw-bg-opacity, 1));
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #000000;  /* The default color of the main navmenu links */
    --nav-hover-color: #505050; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #7f7f90; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #505050; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.logo {
    line-height: 1;
}

.logo img {
    max-height: 36px;
    margin-right: 8px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
}

.logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--color-default);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.logo span {
    color: var(--accent-color);
    font-size: 36px;
}

.table:not(.table-borderless):not(.table-dark) > :not(caption) > *:not(.table-dark) > * {
    border-top-width: 0px;
}

.timeline-with-icons {
    margin-left: 1rem;
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin_45{
    margin-bottom: 4.5rem !important
}

.layout-navbar .navbar-dropdown .badge-notifications{
    inset-block-start: 3px;
    inset-inline-end: -2px;
}

.badge.badge-notifications:not(.badge-center) {
    font-size: .582rem;
    line-height: .75rem;
    padding-block: .05rem;
    padding-inline: .2rem;
}

.badge.badge-notifications {
    position: absolute;
    margin: 0;
    inset-block-start: auto;
    transform: translate(-50%, -30%);
}
.badge.badge-dot {
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    margin: 0;
    block-size: .5rem;
    inline-size: .5rem;
}

.bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.form-check {
    display: block;
    min-height: 1.3754296875rem;
    padding-left: 1.8em;
    margin-bottom: .5rem
}

.form-check {
    position: relative;
    padding-inline:1.8em 0
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}

.form-check-success .form-check-input {
    --bs-form-check-input-checked-bg: var(--bs-success);
    --bs-form-check-input-checked-border-color: var(--bs-success);
    --bs-form-check-shadow-color: rgb(113, 221, 55)
}

.form-check-primary .form-check-input {
    --bs-form-check-input-checked-bg: rgb(8, 60, 132);
    --bs-form-check-input-checked-border-color: rgb(8, 60, 132);
    --bs-form-check-shadow-color: rgb(8, 60, 132)
}

.form-check-secondary .form-check-input {
    --bs-form-check-input-checked-bg: var(--bs-secondary);
    --bs-form-check-input-checked-border-color: var(--bs-secondary);
    --bs-form-check-shadow-color: var(--bs-secondary);
}

.form-check-input:checked {
    border-color: var(--bs-form-check-input-checked-border-color);
    background-color: var(--bs-form-check-input-checked-bg);
    box-shadow: var(--bs-form-check-box-shadow)
}

.form-check .form-check-input {
    float: inline-start;
    margin-inline-start:-1.8em}

.form-check-input[type=checkbox] {
    border-radius: .267em
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.8em
}




